.foot{

    content:url(foot.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.urgency{

    content:url(urgency.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.thermometer{

    content:url(thermometer.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.humidity{

    content:url(humidity.svg)!important;
    padding: 15px 0;
    width: 40px;


}
.weight{

    content:url(weight.svg)!important;
    padding: 15px 0;
    width: 40px;


}


.moncercle{
    border-radius:50%;
    width:80px;
    height:80px;
    border:1px solid #a785d8;
}

