.foot{

    content:url(foot.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.urgency{

    content:url(urgency.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.thermometer{

    content:url(thermometer.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.humidity{

    content:url(humidity.svg)!important;
    padding: 15px 0;
    width: 40px;


}
.weight{

    content:url(weight.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.car{

    content:url(sports-car.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.stretching{

    content:url(stretching-exercises.svg)!important;
    padding: 15px 0;
    width: 40px;


}


.speed{

    content:url(speed.svg)!important;
    padding: 15px 0;
    width: 40px;


}

.left-arrow{

    content:url(left-arrow.svg)!important;
    padding: 8px 0;
    width: 30px;


}

.restart:hover{


    background-color: white;

}



