html, body
{
	text-align:center;
	width: 50%;
	height: 100%;
	background-color: white;
	background-repeat: no-repeat;
}

#image_footer
{
	width: 400%;
	height: 35%;
}

#slogan
{
	margin-top: 2%;
	width:400%;
}

#dialog_container
{
	position: relative;
	padding: 5px;
	margin-top: 13%; 
	margin-left: 10%;
	border: 3px solid #4B088A;
	border-radius: 5px;
	background-color: white;
	width: 200%;
	max-width: 200%;
	text-align: center;
	background-color: white;
}

#information_container
{
	position: relative;
	padding: 5px;
	margin-top: 10%; 
	margin-left: 10%;
	border: 3px solid #4B088A;
	border-radius: 5px;
	background-color: white;
	width: 200%;
	max-width: 200%;
	text-align: center;
	background-color: white;
}

#robot_container
{
	position: absolute;
	padding: 5px;
	margin-left: 50%;
	background-color: white;
	width: 25%;
	height: 25%;
	max-height: 25%;
	text-align: center;
	background-color: white;
}

#datashare_icon_container
{
	position: absolute;
	padding: 5px;
	margin-left: 60%;
	background-color: white;
	width: 25%;
	height: 25%;
	max-height: 25%;
	text-align: center;
	background-color: transparent;
}

input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #4B088A;
    box-sizing: border-box;
    text-align: center;
}

input[type=submit] 
{
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
input[type=submit]:hover 
{
    background-color: white;
    color: #53af57;
    border: 1px solid #4B088A;
}

h2
{
	color: #4B088A;
}